@model Reservation

<div><h4>Reservation</h4></div>
<div class="text-danger" asp-validation-summary="All"></div>
<form asp-action="Proceed" asp-controller="Reservation" method="post">    
    <div class="form-group">
             
        <label>User Details</label>
        <div class="well">
            <label>First Name</label>
            <div>
                @Model.User.FirstName
            </div>
            <label>Last Name</label>
            <div>
                @Model.User.LastName
            </div>
        </div>
        <label>Departure City</label>
        <div>
            @Model.Trip.FromCity.Name
        </div>
        <label>Destination City</label>
        <div>
            @Model.Trip.ToCity.Name
        </div>
        
        <label>Date</label>
        <div>
            @Model.Trip.Time
        </div> 
        <input asp-for="Trip.TripId" hidden="hidden"/>

        <div>
            <label asp-for="Seats"></label>
            <input asp-for="Seats" />
        </div>     
        <label asp-for="TravelClass"></label>
        <select asp-for="TravelClass" class="form-control"
                asp-items="@new SelectList(Enum.GetNames(typeof(TravelClass)))">
            <option disabled selected value="">Select a Class</option>
        </select>

        </div>
        <label asp-for="Trip.Time"></label>
        <div>
            <span asp-validation-for="Trip.Time" class="text-danger"></span>
        </div>
        <input asp-for="Trip.Time" type="date" readonly="readonly"/>
    <div class="form-group">
    </div>
    <div class="left">
        <button class="btn btn-primary" type="submit">Proceed</button>
    </div>
</form>
