@model Reservation
<div class="well">
    <div>
        <label>Departure City</label>
        @Model.Trip.FromCity.Name
    </div>
    <div>
        <label>Destination City</label>
        @Model.Trip.ToCity.Name
    </div>
    <div>
        <label>Date</label>
        @Model.Trip.Time
    </div>
    <div>
        <label>Travel class</label>
        @Model.TravelClass
    </div>
    <div>
        <label># of seats</label>
        @Model.Seats
    </div>
    <label>Total price:  @((Model.Trip.PricePerPerson * Model.Seats).ToString("c")) </label>
</div>
